input.notice-good {
    background-color: green !important;
    color: white !important;
    font-weight: 700 !important;
}
input.notice-bad {
    background-color: red !important;
    color: white !important;
    font-weight: 700 !important;
}

.ui-state-default .ui-icon.btn-icon-fetchHail {
    background-image: url(../images/admin-icon.png);
    background-position:center;
}

